In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [55]:
def acquire_data():
    '''
    Acquire the sales dataset from local cached file or if local file
    does not exits, then download the data from data.world.
    '''
    # set the filename
    filename = 'sales.csv'
    if os.path.exists(filename):
        # if local file exists
        # display status message
        print('Opening data from local file.')
        # open the local data
        df = pd.read_csv(filename)
    else:
        # if the local file does not exist, download the data
        # display status message
        print('Local file not found')
        print('Downloading dataset')
        # download the data from data.world
        df = pd.read_excel('https://query.data.world/s/fhfoecpnngvcahqseb5ai6daubh4gk?dws=00000')
        # create a local cache of the data
        df.to_csv(filename, index=False)
        
    # return the acquired data
    return df

In [62]:
df = acquire_data()

Opening data from local file.

In [63]:
df.head()

,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,2016-02-19,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,2016-02-20,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,2016-02-27,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,2016-03-12,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,2016-03-12,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

In [4]:
data = pd.read_csv('SalesForCourse_quizz_table.csv', index_col=0)

In [5]:
data.head()

,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
index,,,,,,,,,,,,,,,
0,02/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,02/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,02/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

In [54]:
data.Date.nunique()

576

In [6]:
data['Sub Category'].unique()

array(['Tires and Tubes', 'Gloves', 'Helmets', 'Bike Stands',
       'Mountain Bikes', 'Hydration Packs', 'Jerseys', 'Fenders',
       'Cleaners', 'Socks', 'Caps', 'Touring Bikes', 'Bottles and Cages',
       'Vests', 'Road Bikes', 'Bike Racks', 'Shorts', nan], dtype=object)

In [7]:
data['Product Category'].unique()

array(['Accessories', 'Clothing', 'Bikes', nan], dtype=object)

In [8]:
data[data['Sub Category'].isna() == True]

,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
index,,,,,,,,,,,,,,,
34866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641.532095,NaN

In [9]:
data['Column1'].unique()

array([        nan, 2370.      ,  398.      , ..., 1971.      ,
       1568.      ,  687.344828])

In [10]:
data['Customer Age'].unique()

array([29., 18., 19., 20., 22., 24., 40., 21., 23., 25., 30., 55., 53.,
       52., 51., 50., 49., 48., 47., 46., 45., 41., 42., 65., 64., 32.,
       33., 63., 34., 35., 43., 62., 37., 44., 60., 59., 58., 36., 61.,
       57., 54., 38., 39., 27., 28., 17., 26., 67., 66., 71., 31., 56.,
       87., 70., 69., 73., 68., 75., 86., 85., 77., 81., 84., 78., 72.,
       80., 74., 76., 79., 82., nan])

In [11]:
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [12]:
df.columns

Index(['date', 'year', 'month', 'customer_age', 'customer_gender', 'country',
       'state', 'product_category', 'sub_category', 'quantity', 'unit_cost',
       'unit_price', 'cost', 'revenue', 'column1'],
      dtype='object')

In [13]:
df = df.drop(columns='column1')

In [14]:
df.shape

(34867, 14)

In [15]:
df = df.dropna()

In [16]:
df.shape

(34866, 14)

In [17]:
df.dtypes

date                datetime64[ns]
year                       float64
month                       object
customer_age               float64
customer_gender             object
country                     object
state                       object
product_category            object
sub_category                object
quantity                   float64
unit_cost                  float64
unit_price                 float64
cost                       float64
revenue                    float64
dtype: object

In [18]:
df.year.unique()

array([2016., 2015.])

In [19]:
df.year = df.year.astype(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34866 entries, 0 to 34865
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              34866 non-null  datetime64[ns]
 1   year              34866 non-null  int64
 2   month             34866 non-null  object
 3   customer_age      34866 non-null  float64
 4   customer_gender   34866 non-null  object
 5   country           34866 non-null  object
 6   state             34866 non-null  object
 7   product_category  34866 non-null  object
 8   sub_category      34866 non-null  object
 9   quantity          34866 non-null  float64
 10  unit_cost         34866 non-null  float64
 11  unit_price        34866 non-null  float64
 12  cost              34866 non-null  float64
 13  revenue           34866 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(6)
memory usage: 4.0+ MB

In [21]:
df.customer_age.unique()

array([29., 18., 19., 20., 22., 24., 40., 21., 23., 25., 30., 55., 53.,
       52., 51., 50., 49., 48., 47., 46., 45., 41., 42., 65., 64., 32.,
       33., 63., 34., 35., 43., 62., 37., 44., 60., 59., 58., 36., 61.,
       57., 54., 38., 39., 27., 28., 17., 26., 67., 66., 71., 31., 56.,
       87., 70., 69., 73., 68., 75., 86., 85., 77., 81., 84., 78., 72.,
       80., 74., 76., 79., 82.])

In [22]:
df.customer_age = df.customer_age.astype(int)

In [23]:
df.quantity.unique()

array([1., 2., 3.])

In [24]:
df.quantity = df.quantity.astype(int)

In [25]:
df.unit_cost.unique()

array([8.0000e+01, 2.4500e+01, 3.6700e+00, 8.7500e+01, 3.5000e+01,
       6.6000e+01, 5.2000e+01, 6.0000e+01, 8.0000e+00, 2.5000e+00,
       1.7500e+01, 4.0000e+01, 4.6000e+01, 9.0000e+00, 1.5167e+02,
       7.0000e+01, 3.8500e+02, 7.2500e+01, 2.1000e+02, 6.4000e+01,
       3.2667e+02, 1.2500e+02, 2.1500e+02, 2.2000e+01, 7.5000e+02,
       1.4000e+02, 1.9250e+02, 3.8330e+01, 5.6000e+01, 1.0867e+02,
       1.4670e+01, 2.8000e+02, 2.9350e+02, 2.0000e+00, 4.2000e+02,
       2.7550e+02, 1.2000e+02, 6.3000e+02, 3.2500e+01, 3.3833e+02,
       1.0670e+01, 3.6670e+01, 2.4500e+02, 6.3600e+02, 1.5900e+02,
       7.6900e+02, 2.2950e+03, 1.1600e+03, 7.9750e+02, 1.8000e+02,
       2.3200e+03, 1.0000e+02, 1.3333e+02, 8.8000e+01, 3.0000e+02,
       5.9400e+02, 7.5000e+01, 9.9500e+01, 4.6670e+01, 1.7500e+02,
       5.2500e+01, 1.2250e+02, 4.5000e+01, 2.7000e+01, 2.1600e+02,
       5.3000e+02, 1.1130e+03, 2.4733e+02, 3.8450e+02, 4.7700e+02,
       1.6500e+02, 2.5667e+02, 7.1500e+02, 8.5000e+01, 1.0500e+02,
       6.5000e+01, 4.1400e+02, 4.8600e+02, 2.5000e+01, 1.8900e+02,
       6.6700e+00, 1.5000e+02, 1.1475e+03, 7.6500e+02, 9.6000e+01,
       2.4000e+01, 3.0000e+01, 5.0000e+01, 2.9000e+02, 1.6700e+00,
       6.7000e-01, 8.3330e+01, 1.6333e+02, 4.2500e+01, 1.8500e+01,
       5.0000e+00, 1.0500e+03, 2.3330e+01, 1.1670e+01, 9.1000e+02,
       4.4000e+02, 2.3000e+02, 2.5633e+02, 8.2500e+02, 1.2833e+02,
       2.3833e+02, 3.0250e+02, 6.8300e+02, 7.7333e+02, 1.9100e+02,
       3.2000e+01, 5.0800e+02, 2.0700e+02, 3.3000e+02, 8.2500e+01,
       5.5000e+01, 3.4300e+02, 2.0000e+01, 5.3300e+00, 5.8000e+01,
       4.5500e+02, 1.2330e+01, 1.8000e+01, 3.1500e+02, 6.0000e+00,
       2.1330e+01, 3.7500e+01, 2.7000e+02, 6.9000e+01, 6.4330e+01,
       8.5050e+02, 1.5300e+02, 3.7100e+02, 1.4400e+02, 7.4200e+02,
       4.5000e+00, 5.8500e+01, 2.2033e+02, 1.0600e+02, 3.6000e+02,
       3.1800e+02, 2.8600e+02, 4.9500e+02, 6.0500e+02, 2.6833e+02,
       3.5000e+02, 1.8667e+02, 5.1333e+02, 1.4000e+01, 2.0500e+01,
       1.8333e+02, 1.1100e+02, 1.0355e+03, 2.6250e+02, 6.3700e+02,
       1.5000e+01, 4.2500e+02, 4.4000e+01, 2.5500e+02, 4.8330e+01,
       1.9833e+02, 6.7500e+01, 6.5900e+02, 7.3500e+01, 1.9600e+02,
       3.0333e+02, 1.6300e+02, 4.3500e+01, 7.6700e+00, 1.0633e+02,
       7.1700e+02, 6.3000e+01, 2.2500e+02, 4.0500e+01, 9.3300e+00,
       7.6000e+01, 1.7967e+02, 1.3500e+02, 7.0000e+02, 1.7100e+02,
       2.5133e+02, 1.2500e+01, 5.0750e+02, 3.1250e+02, 9.0000e+01,
       1.1920e+03, 2.4650e+02, 2.3840e+03, 2.3333e+02, 4.3750e+02,
       3.7800e+02, 5.6700e+02, 1.1500e+02, 4.7250e+02, 2.9167e+02,
       3.3050e+02, 7.9467e+02, 2.4430e+03, 2.0490e+03, 1.0910e+03,
       5.6500e+02, 2.6670e+01, 8.1670e+01, 5.2500e+02, 9.4500e+02,
       1.2215e+03, 5.4000e+02, 6.6000e+02, 3.7000e+01, 3.7700e+02,
       8.1433e+02, 6.3670e+01, 2.2867e+02, 4.0000e+02, 2.8000e+01,
       1.8633e+02, 3.9200e+02, 2.4167e+02, 4.8000e+01, 2.0400e+02,
       8.3300e+00, 4.0600e+02, 3.1000e+01, 3.6000e+01, 1.7950e+02,
       5.2200e+02, 1.8250e+02, 1.2700e+02, 5.8330e+01, 2.3000e+01,
       9.2000e+01, 6.8600e+02, 1.5750e+02, 1.0350e+02, 5.6000e+02,
       9.8000e+02, 2.6500e+01, 2.9000e+01, 1.1967e+02, 6.0750e+02,
       3.2670e+01, 4.3000e+02, 2.7500e+01, 1.3533e+02, 1.3330e+01,
       5.0000e+02, 3.3750e+02, 1.4167e+02, 1.7010e+03, 2.0000e+02,
       1.3300e+00, 6.5200e+02, 4.1670e+01, 9.1300e+02, 1.1250e+02,
       7.9500e+02, 9.5000e+01, 3.2600e+02, 1.9500e+02, 2.0300e+02,
       2.8500e+01, 3.8000e+01, 1.2000e+01, 3.9670e+01, 2.3100e+02,
       9.5500e+01, 1.8300e+02, 6.3500e+01, 3.3350e+02, 8.4000e+01,
       1.8467e+02, 3.7333e+02, 4.5000e+02, 1.8330e+01, 8.7000e+02,
       1.1200e+03, 2.2233e+02, 5.7500e+01, 7.0000e+00, 2.6100e+02,
       3.6750e+02, 1.3200e+02, 5.9300e+02, 7.7000e+01, 5.2800e+02,
       3.5850e+02, 8.4000e+02, 6.6670e+01, 5.4000e+01, 5.8700e+02,
       3.4500e+01, 1.6100e+02, 1.1330e+01, 5.9500e+02, 1.5330e+01,
       3.0000e+00, 5.5100e+02, 7.2500e+02, 1.0150e+03, 1.0000e+03,
       3.3333e+02, 2.2000e+02, 7.1500e+01, 1.9767e+02, 1.6000e+01,
       8.1500e+02, 2.9750e+02, 1.9000e+01, 2.3850e+02, 3.6667e+02,
       6.8750e+02, 1.0245e+03, 4.3330e+01, 1.4500e+02, 1.0800e+02,
       1.8367e+02, 4.0250e+02, 8.6000e+01, 1.3000e+02, 7.3330e+01,
       3.8670e+01, 3.3000e+01, 1.1880e+03, 8.1000e+01, 8.5500e+01,
       1.1000e+02, 2.2500e+01, 1.3050e+02, 1.0000e+01, 3.1670e+01,
       1.2200e+02, 3.1900e+02, 1.4040e+03, 2.5000e+02, 6.9033e+02,
       3.5200e+02, 9.9000e+01, 1.6200e+02, 4.9000e+02, 8.0500e+02,
       5.8000e+02, 8.7000e+01, 3.9000e+02, 3.1850e+02, 7.3500e+02,
       1.0450e+03, 1.3670e+01, 1.2167e+02, 1.1667e+02, 7.8000e+02,
       7.2000e+01, 9.6670e+01, 8.2600e+02, 9.3330e+01, 2.6500e+02,
       2.3400e+02, 4.7500e+01, 1.2150e+02, 1.8833e+02, 1.4580e+03,
       7.7000e+02, 7.6500e+01, 2.5300e+02, 2.3200e+02, 3.9600e+02,
       1.6670e+01, 2.8333e+02, 1.5660e+03, 5.1300e+02, 6.4800e+02,
       5.0400e+02, 2.4330e+01, 2.0710e+03, 7.5000e+00, 4.2000e+01,
       1.3500e+03, 5.3000e+01, 1.2600e+02, 7.8300e+02, 4.3200e+02,
       2.4300e+02, 8.5000e+02, 3.4800e+02, 1.7133e+02, 6.4500e+02,
       1.9300e+02, 1.1600e+02, 4.3000e+01, 1.7670e+01, 1.4000e+03,
       2.1750e+02, 3.3300e+00, 3.9750e+02, 1.2900e+02, 5.5000e+00,
       2.4000e+02, 2.2750e+02, 1.9000e+02, 3.9150e+02, 4.1800e+02,
       1.3500e+01, 1.1700e+02, 1.2000e+03, 9.6700e+00, 2.6850e+02,
       1.9167e+02, 3.7330e+01, 6.2000e+01, 1.4133e+02, 3.4500e+02,
       4.2400e+02, 1.3033e+02, 4.8000e+02, 1.6330e+01, 3.2500e+02,
       2.1667e+02, 7.0200e+02, 1.9500e+01, 3.4330e+01, 1.8670e+01,
       3.3330e+01, 9.8000e+01, 4.6700e+00, 2.0670e+01, 2.5200e+02,
       7.5600e+02, 2.1820e+03, 7.2733e+02, 2.1000e+01, 6.5000e+02,
       6.7500e+02, 7.2900e+02, 3.5100e+02, 6.6500e+02, 1.1000e+01,
       1.3750e+02, 3.0100e+02, 1.5950e+02, 8.1000e+02, 6.5330e+01,
       1.4300e+03, 3.4000e+01, 2.3650e+02, 2.9700e+02, 1.1500e+01,
       9.0000e+02, 4.8900e+02, 6.0000e+02, 3.9100e+02, 4.1000e+01,
       9.2100e+02, 3.1767e+02, 8.0000e+02, 3.2950e+02, 6.6100e+02,
       4.4100e+02, 1.8420e+03, 2.1670e+01, 8.7500e+02, 1.5600e+03,
       1.0000e+00, 1.1800e+02, 2.0767e+02, 1.9800e+02, 2.4200e+02,
       2.0900e+02, 3.0800e+02, 1.5400e+02, 3.2400e+02, 1.7600e+02,
       1.8700e+02, 5.5000e+02, 5.7100e+02, 5.1330e+01, 2.1967e+02,
       5.3500e+01, 4.5650e+02, 3.3250e+02, 5.7500e+02, 9.4500e+01,
       7.8000e+01, 1.5950e+03, 6.2500e+01, 8.6670e+01, 8.6400e+02,
       3.5000e+00, 4.0000e+00, 3.4200e+02, 1.4500e+01, 1.1500e+03,
       9.7670e+01, 1.1400e+02, 1.8750e+02, 1.2500e+03, 1.9333e+02,
       1.1950e+02, 1.5100e+02, 8.4800e+02, 4.3333e+02, 4.0500e+02,
       3.7500e+02, 1.5050e+02, 2.2800e+02, 7.5500e+01, 1.9900e+02,
       2.3900e+02, 5.6670e+01, 1.0160e+03, 5.0330e+01, 1.1430e+03,
       1.3340e+03, 1.9067e+02, 2.8267e+02, 1.7200e+02, 1.3450e+02,
       1.0500e+01, 6.1000e+01, 5.0600e+02, 3.6500e+02, 2.3250e+02,
       6.2500e+02, 2.2167e+02, 1.6133e+02, 5.1500e+01, 9.1500e+01,
       5.5670e+01, 4.1667e+02, 8.2550e+02, 6.6700e+02, 4.4500e+02,
       1.3000e+01, 2.2300e+02, 5.9500e+01, 3.2250e+02, 3.8333e+02,
       4.8333e+02, 1.3000e+03, 1.6700e+02, 1.2100e+03, 1.7330e+01,
       1.0400e+02, 3.0433e+02, 2.2550e+02, 3.9000e+01, 1.5000e+03,
       6.0200e+02, 2.9330e+01, 4.8400e+02, 1.0200e+03, 3.7400e+02,
       1.8000e+03, 6.1500e+02, 1.1900e+02, 2.4700e+02, 3.1150e+02,
       5.1000e+02, 2.7700e+02, 6.2100e+02, 3.1500e+01, 1.0750e+02,
       2.4750e+02, 2.9400e+02, 3.1200e+03, 4.0670e+01, 2.1233e+02,
       7.5400e+02, 1.1550e+03, 5.2250e+02, 5.9267e+02, 3.4833e+02,
       2.5400e+02, 2.0800e+02, 1.1150e+02, 3.4400e+02, 9.5000e+02,
       1.0267e+02, 4.7500e+02, 2.8250e+02, 4.7670e+01, 1.6667e+02,
       1.2150e+03, 1.5120e+03, 1.4300e+02, 2.8330e+01, 1.1733e+02,
       4.6200e+02, 4.0233e+02, 6.0350e+02, 6.9850e+02, 5.7150e+02,
       1.4330e+01, 1.7000e+01, 4.6800e+02, 7.9500e+01, 1.5833e+02,
       1.1200e+02, 2.7950e+02, 3.0950e+02, 2.8750e+02, 7.6670e+01,
       5.3330e+01, 2.1500e+01, 9.7800e+02, 2.2670e+01, 5.1000e+01,
       4.7300e+02, 2.2050e+02, 5.7000e+02, 2.6067e+02, 3.0670e+01,
       2.3600e+02, 3.8700e+02, 1.0260e+03, 6.0900e+02, 3.0450e+02,
       3.5900e+02, 1.6250e+02, 1.0150e+02, 4.0800e+02, 7.3000e+01,
       1.4700e+02, 1.6200e+03, 1.3933e+02, 2.6400e+02, 8.0670e+01,
       9.1800e+02, 3.4950e+02, 1.1340e+03, 1.2960e+03, 6.3330e+01,
       4.5900e+02, 2.8800e+02, 3.4250e+02, 2.1200e+02, 6.7667e+02,
       2.0300e+03, 5.3700e+02, 7.1550e+02, 6.3800e+02, 3.6250e+02,
       4.2050e+02, 4.9500e+01, 3.1667e+02, 2.7500e+02, 1.6500e+01,
       1.0800e+03, 2.9650e+02, 1.7150e+03, 2.6950e+02, 4.6667e+02,
       1.4650e+02, 7.9400e+02, 3.0600e+02, 6.6330e+01, 2.3300e+00,
       1.3600e+02, 2.7067e+02, 1.6867e+02, 3.9667e+02, 2.6000e+02,
       1.9050e+03, 6.3250e+02, 4.0333e+02, 4.2333e+02, 1.8350e+02,
       5.7000e+01, 2.6667e+02, 2.5330e+01, 4.2330e+01, 2.8033e+02,
       1.4333e+02, 8.3500e+01, 7.3300e+00, 2.2833e+02, 1.3950e+02,
       9.3500e+02, 5.8670e+01, 7.3050e+02, 1.3067e+02, 2.0500e+02,
       1.9033e+02, 2.1733e+02, 2.8550e+02, 8.8000e+02, 1.1433e+02,
       3.6700e+02, 1.7400e+02, 2.9300e+02, 9.5330e+01, 1.2467e+02,
       5.5500e+01, 1.2100e+02, 1.5900e+03, 1.7000e+02, 7.4330e+01,
       2.3750e+02, 4.6750e+02, 8.8900e+02, 1.4667e+02, 3.0750e+02,
       2.7900e+02, 1.6433e+02, 1.9330e+01, 1.9550e+02, 6.8500e+02,
       1.7780e+03, 4.1300e+02, 6.9600e+02, 2.0833e+02, 4.9300e+02,
       1.4700e+03, 2.1267e+02, 1.6467e+02, 4.4333e+02, 1.4500e+03,
       4.0750e+02, 3.3867e+02, 1.6000e+02, 5.5033e+02, 2.3300e+02,
       5.5650e+02, 1.0700e+02, 1.0400e+03, 3.2200e+02, 4.1250e+02,
       1.0833e+02, 3.5670e+01, 7.1000e+02, 7.1670e+01, 2.6700e+00,
       3.5500e+02, 6.1200e+02, 5.8800e+02, 1.5033e+02, 9.1670e+01,
       2.7167e+02, 4.9000e+01, 1.4833e+02, 1.8900e+03, 1.6100e+03,
       3.1750e+02, 6.3500e+02, 1.6510e+03, 2.7533e+02, 8.5750e+02,
       7.2000e+02, 9.6000e+02, 1.9050e+02, 4.5833e+02, 4.6400e+02,
       3.2400e+03, 1.9600e+03, 6.9000e+02, 6.0667e+02, 1.9567e+02,
       2.6900e+02, 1.1000e+03, 3.1167e+02, 2.8150e+02, 2.0400e+03,
       2.5800e+02, 2.1250e+02, 1.9200e+03, 1.6800e+03, 1.2600e+03,
       1.3300e+03, 9.7200e+02, 9.3000e+01, 4.5100e+02, 7.8670e+01,
       1.8767e+02, 1.7150e+02, 1.5400e+03, 6.5333e+02, 5.1600e+02,
       5.5900e+02, 6.2300e+02, 3.4670e+01, 4.3500e+02, 8.1500e+01,
       1.7500e+03, 4.2167e+02, 2.1167e+02, 5.3900e+02, 1.2233e+02,
       9.5250e+02, 1.1467e+02, 6.8000e+01, 1.4610e+03, 2.9333e+02,
       1.5767e+02, 2.0067e+02, 2.6000e+01, 5.6300e+02, 2.0167e+02,
       1.4310e+03, 5.8333e+02, 1.5200e+02, 1.4850e+03, 8.4670e+01,
       1.3970e+03, 7.4250e+02, 9.6500e+01, 1.5467e+02, 2.8670e+01,
       1.2070e+03, 3.8100e+02, 4.5600e+02, 1.7900e+02, 6.1900e+02,
       1.2650e+03, 8.1200e+02, 7.6200e+02, 6.9900e+02, 4.7650e+02,
       8.4100e+02, 1.3200e+03, 3.5750e+02, 2.9633e+02, 7.9670e+01,
       4.9400e+02, 5.7200e+02, 5.7750e+02, 5.4330e+01, 5.1400e+02,
       2.8500e+02, 1.2420e+03, 5.3667e+02, 1.3750e+03, 9.9000e+02,
       1.3800e+03, 4.8700e+02, 8.9670e+01, 3.6500e+01, 4.7667e+02,
       2.1600e+03, 1.5880e+03, 1.5500e+02, 6.7670e+01, 2.3667e+02,
       5.5400e+02, 1.0033e+02, 4.4467e+02, 6.4500e+01, 3.0000e+03,
       1.8200e+03, 1.1900e+03, 1.0300e+02, 4.1600e+02, 2.1000e+03,
       5.7167e+02, 4.6500e+02, 4.4450e+02, 1.6500e+03, 2.7600e+03,
       1.9350e+02, 7.7330e+01, 1.2720e+03, 5.3167e+02, 7.6000e+02,
       1.5240e+03, 1.6933e+02, 1.2567e+02, 1.8850e+02, 2.2250e+02,
       1.2700e+03, 5.7330e+01, 5.2933e+02, 2.0633e+02, 9.5400e+02,
       1.0733e+02, 1.1400e+03, 3.2000e+02, 9.5300e+02, 7.8200e+02,
       1.1550e+02, 1.3867e+02, 2.4450e+02, 4.6567e+02, 6.1400e+02,
       2.6400e+03, 5.2000e+02])

In [26]:
df.unit_cost = round(df.unit_cost, 2)

In [27]:
df.unit_price = round(df.unit_price, 2)

In [28]:
df.cost = round(df.cost, 2)

In [29]:
df.revenue = round(df.revenue, 2)

In [30]:
df['total_price'] = df.quantity * df.unit_cost

In [31]:
df.head()

,date,year,month,customer_age,customer_gender,country,state,product_category,sub_category,quantity,unit_cost,unit_price,cost,revenue,total_price
0,2016-02-19,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,1,80.00,109.00,80.0,109.0,80.00
1,2016-02-20,2016,February,29,F,United States,Washington,Clothing,Gloves,2,24.50,28.50,49.0,57.0,49.00
2,2016-02-27,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,3,3.67,5.00,11.0,15.0,11.01
3,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,2,87.50,116.50,175.0,233.0,175.00
4,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,3,35.00,41.67,105.0,125.0,105.00

In [32]:
def prepare_data(df):
    '''
    this will clean the column names and change the data types to the proper dtypes.
    '''
    # change column names to lowercase and remove spaces
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    # drop the column1 which has unknown data
    df = df.drop(columns='column1')
    # drop the 1 row containing null values in most of the row
    df = df.dropna()
    # change data types to int
    df.year = df.year.astype(int)
    df.customer_age = df.customer_age.astype(int)
    df.quantity = df.quantity.astype(int)
    # round dollar amounts to 2 digits
    df.unit_cost = round(df.unit_cost, 2)
    df.unit_price = round(df.unit_price, 2)
    df.cost = round(df.cost, 2)
    df.revenue = round(df.revenue, 2)
    # create new column for total price of sale
    df['total_price'] = df.quantity * df.unit_cost
    # return the cleaned dataset
    return df

In [33]:
def split_data(df, random_seed=4233):
    '''
    split_data will take in a DataFrame and split it into train, validate and test sets
    random_seed is also asignable (default = 4233 for no reason).
    It will return the data split up for ML models. 
    The return values are: train, validate, test
    '''
    # split our df into train_val and test:
    train_val, test = train_test_split(df,
                                       train_size=0.8,
                                       random_state=random_seed)
    
    # split our train_val into train and validate:
    train, validate = train_test_split(train_val,
                                       train_size=0.7,
                                       random_state=random_seed)
    # return the split DataFrames
    return train, validate, test

In [34]:
def wrangle_data():
    '''
    This will perform the acquire, preparation and split functions with one command

    returns the clean df, train, validate and test
    '''
    # acquire and clean the data
    df = prepare_data(acquire_data())
    # split the data into train, validate and test
    train, validate, test = split_data(df)
    # return the clean df, train, validate and test
    return df, train, validate, test

In [35]:
df2, train, val, test = wrangle_data()

Local file not found
Downloading dataset

In [36]:
df2

,date,year,month,customer_age,customer_gender,country,state,product_category,sub_category,quantity,unit_cost,unit_price,cost,revenue,total_price
0,2016-02-19,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,1,80.00,109.00,80.0,109.0,80.00
1,2016-02-20,2016,February,29,F,United States,Washington,Clothing,Gloves,2,24.50,28.50,49.0,57.0,49.00
2,2016-02-27,2016,February,29,F,United States,Washington,Accessories,Tires and Tubes,3,3.67,5.00,11.0,15.0,11.01
3,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,2,87.50,116.50,175.0,233.0,175.00
4,2016-03-12,2016,March,29,F,United States,Washington,Accessories,Tires and Tubes,3,35.00,41.67,105.0,125.0,105.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34861,2015-03-22,2015,March,38,M,France,Charente-Maritime,Bikes,Mountain Bikes,1,2049.00,1487.00,2049.0,1487.0,2049.00
34862,2016-02-07,2016,February,38,M,France,Hauts de Seine,Bikes,Mountain Bikes,2,1160.00,985.50,2320.0,1971.0,2320.00
34863,2015-03-13,2015,March,38,M,France,Hauts de Seine,Bikes,Mountain Bikes,1,2049.00,1583.00,2049.0,1583.0,2049.00
34864,2015-04-05,2015,April,38,M,France,Hauts de Seine,Bikes,Mountain Bikes,3,683.00,560.67,2049.0,1682.0,2049.00
34865,2015-08-30,2015,August,38,M,France,Hauts de Seine,Bikes,Mountain Bikes,1,2320.00,1568.00,2320.0,1568.0,2320.00