In [1]:
import pandas as pd
import numpy as np

In [17]:
credit = pd.read_csv ('credit_card_balance.csv')

In [18]:
credit.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [20]:
credit = credit.drop('SK_ID_PREV', axis=1)

In [31]:
credit['MONTHS_BALANCE'].max()

-1

In [32]:
credit['MONTHS_BALANCE'].min()

-96

In [53]:
credit.sort_values(by=['AMT_BALANCE'])

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2132913,243632,-45,-420250.185,405000,0.0,0.000,0.0,0.000,NaN,419850.000,...,-420250.185,-420250.185,0.0,0,0.0,0.0,NaN,Active,0,0
429463,383200,-47,-261471.015,360000,270000.0,270000.000,0.0,0.000,6869.250,270000.000,...,-261777.015,-261777.015,2.0,2,0.0,0.0,1.0,Active,0,0
3714021,373295,-38,-259848.945,180000,0.0,179712.000,179712.0,0.000,NaN,450000.000,...,-268834.545,-268834.545,0.0,1,1.0,0.0,NaN,Active,0,0
3792936,405742,-43,-240305.985,225000,0.0,0.000,0.0,0.000,NaN,240075.000,...,-239950.485,-239950.485,0.0,0,0.0,0.0,NaN,Active,0,0
1713554,149336,-41,-223224.210,180000,45000.0,45000.000,0.0,0.000,NaN,270000.000,...,-224569.710,-224569.710,1.0,1,0.0,0.0,NaN,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857769,154897,-12,1329264.630,1350000,0.0,383236.740,0.0,383236.740,0.000,15235.875,...,1329264.630,1329264.630,0.0,23,0.0,23.0,2.0,Active,0,0
3810379,423213,-11,1347979.500,1350000,168750.0,241863.030,0.0,64113.030,58465.890,60740.730,...,1341252.000,1341252.000,5.0,17,0.0,12.0,3.0,Active,0,0
1059989,438196,-6,1354613.265,1350000,1291950.0,1357802.010,0.0,65852.010,4091.085,34880.940,...,1334196.765,1334196.765,13.0,19,0.0,6.0,7.0,Active,0,0
3044117,156500,-3,1354829.265,1350000,0.0,1034628.795,0.0,1034628.795,22582.935,13962.960,...,1354829.265,1354829.265,0.0,37,0.0,37.0,8.0,Active,0,0
961174,438196,-3,1505902.185,1350000,701550.0,701550.000,0.0,0.000,50009.805,225946.980,...,1493338.185,1493338.185,8.0,8,0.0,0.0,10.0,Active,0,0

In [55]:
credit['NAME_CONTRACT_STATUS'].unique()

array(['Active', 'Completed', 'Demand', 'Signed', 'Sent proposal',
       'Refused', 'Approved'], dtype=object)

In [56]:
credit['NAME_CONTRACT_STATUS'] = 'Refused'

In [58]:
len(credit)

3840312

In [59]:
credit.sort_values(by=['AMT_BALANCE'])

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2132913,243632,-45,-420250.185,405000,0.0,0.000,0.0,0.000,NaN,419850.000,...,-420250.185,-420250.185,0.0,0,0.0,0.0,NaN,Refused,0,0
429463,383200,-47,-261471.015,360000,270000.0,270000.000,0.0,0.000,6869.250,270000.000,...,-261777.015,-261777.015,2.0,2,0.0,0.0,1.0,Refused,0,0
3714021,373295,-38,-259848.945,180000,0.0,179712.000,179712.0,0.000,NaN,450000.000,...,-268834.545,-268834.545,0.0,1,1.0,0.0,NaN,Refused,0,0
3792936,405742,-43,-240305.985,225000,0.0,0.000,0.0,0.000,NaN,240075.000,...,-239950.485,-239950.485,0.0,0,0.0,0.0,NaN,Refused,0,0
1713554,149336,-41,-223224.210,180000,45000.0,45000.000,0.0,0.000,NaN,270000.000,...,-224569.710,-224569.710,1.0,1,0.0,0.0,NaN,Refused,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857769,154897,-12,1329264.630,1350000,0.0,383236.740,0.0,383236.740,0.000,15235.875,...,1329264.630,1329264.630,0.0,23,0.0,23.0,2.0,Refused,0,0
3810379,423213,-11,1347979.500,1350000,168750.0,241863.030,0.0,64113.030,58465.890,60740.730,...,1341252.000,1341252.000,5.0,17,0.0,12.0,3.0,Refused,0,0
1059989,438196,-6,1354613.265,1350000,1291950.0,1357802.010,0.0,65852.010,4091.085,34880.940,...,1334196.765,1334196.765,13.0,19,0.0,6.0,7.0,Refused,0,0
3044117,156500,-3,1354829.265,1350000,0.0,1034628.795,0.0,1034628.795,22582.935,13962.960,...,1354829.265,1354829.265,0.0,37,0.0,37.0,8.0,Refused,0,0
961174,438196,-3,1505902.185,1350000,701550.0,701550.000,0.0,0.000,50009.805,225946.980,...,1493338.185,1493338.185,8.0,8,0.0,0.0,10.0,Refused,0,0

In [91]:
credit = credit.drop('SK_DPD_DEF', axis=1)

In [92]:
credit = credit.drop('SK_DPD', axis=1)

In [93]:
credit

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS
0,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.00,1800.000,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Refused
1,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.00,2250.000,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Refused
2,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.00,2250.000,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Refused
3,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.00,11925.000,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Refused
4,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.00,27000.000,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Refused
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused
3840308,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,1879.11,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,23.0,Refused
3840309,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,375750.00,356994.675,269356.140,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Refused
3840310,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused
3840311,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,21.0,Refused

In [94]:
credit['Final_amount'] = (credit.AMT_DRAWINGS_ATM_CURRENT-credit.AMT_CREDIT_LIMIT_ACTUAL)

In [95]:
credit

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,Final_amount
0,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.00,...,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Refused,-135000.0
1,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.00,...,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Refused,-42750.0
2,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.00,...,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Refused,-450000.0
3,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.00,...,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Refused,-222750.0
4,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.00,...,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Refused,-450000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused,NaN
3840308,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,1879.11,...,0.000,0.000,0.000,0.0,0,0.0,0.0,23.0,Refused,-45000.0
3840309,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,375750.00,...,269356.140,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Refused,-315000.0
3840310,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused,NaN
3840311,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,0.00,...,0.000,0.000,0.000,0.0,0,0.0,0.0,21.0,Refused,-157500.0

In [96]:
credit.dropna()

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,Final_amount
0,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.000,...,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Refused,-135000.0
1,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.000,...,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Refused,-42750.0
2,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.000,...,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Refused,-450000.0
3,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.000,...,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Refused,-222750.0
4,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.000,...,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Refused,-450000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840304,303373,-15,0.000,0,0.0,0.0,0.0,0.0,0.000,360.225,...,0.000,0.000,0.000,0.0,0,0.0,0.0,60.0,Refused,0.0
3840305,172581,-11,0.000,0,0.0,0.0,0.0,0.0,0.000,4.860,...,0.000,0.000,0.000,0.0,0,0.0,0.0,21.0,Refused,0.0
3840308,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,1879.110,...,0.000,0.000,0.000,0.0,0,0.0,0.0,23.0,Refused,-45000.0
3840309,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,375750.000,...,269356.140,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Refused,-315000.0
3840311,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,0.000,...,0.000,0.000,0.000,0.0,0,0.0,0.0,21.0,Refused,-157500.0

In [111]:
credit['Score'] = (credit['Final_amount']/credit['AMT_CREDIT_LIMIT_ACTUAL'])*-100

In [112]:
credit

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,Final_amount,Score
0,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.00,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Refused,-135000.0,100.000000
1,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.00,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Refused,-42750.0,95.000000
2,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.00,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Refused,-450000.0,100.000000
3,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.00,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Refused,-222750.0,99.000000
4,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.00,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Refused,-450000.0,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused,NaN,NaN
3840308,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,1879.11,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Refused,-45000.0,100.000000
3840309,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,375750.00,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Refused,-315000.0,53.846154
3840310,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Refused,NaN,NaN
3840311,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Refused,-157500.0,100.000000